colorama==0.4.6
flake8==7.4.1
flake8-docstrings==1.7.0
flake8-quotes==3.4.0
isort==9.0.2
mando==0.8.2
mccabe==0.7.0
pathspec==1.1.1
pycodestyle==2.15.0
pydocstyle==6.3.0
pyflakes==4.0.2
PyYAML==6.0.3
radon==6.0.1
six==1.17.0
snowballstemmer==3.1.1
yamllint==1.38.0
